/*.container
{
    width: 50vw;
    background: lightgrey;
    margin-left: 10px;
}

.title
{
    background: skyblue;
    width: 100%;
}

.description
{
    box-sizing: border-box;
    background: lightgoldenrodyellow;
    width: 100%;
    padding: 10px;
}

.image
{
    max-width: 100%;
}

img
{
    width: 100%;
    object-fit: contain;
}
*/